# Auto detect text files and perform LF normalization
* text=auto

# Force specific files to use LF
*.sh text eol=lf
*.env text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.json text eol=lf
*.md text eol=lf
*.txt text eol=lf

# Docker files
dockerfile* text eol=lf
docker-compose*.yml text eol=lf
docker-entrypoint.sh text eol=lf
docker-ensure-initdb.sh text eol=lf

# Binary files
*.png binary
*.jpg binary
*.gif binary
*.ico binary
*.woff binary
*.woff2 binary
*.ttf binary
*.eot binary
*.pdf binary
*.swf binary
*.svgz binary
*.zip binary
*.gz binary
*.tar binary
*.bz2 binary 